<section class="cart py-16"> 
    <% if (session.cart) { %>
    <div class="order container mx-auto w-1/2">
        <div class="flex items-center border-b border-gray-300 pb-4">
            <img src="/img/cart-black.png" alt="cart-black">
            <h1 class="text-2xl ml-4 font-bold">Order Summary</h1>
        </div>
        <div class="pizza-list">
            
            <% for(pizza of Object.values(session.cart.items)) { %>
            <div class="flex items-center my-8">
                <img class="w-32" src="/img/<%= pizza.items.image %>" alt="">
                <div class="ml-4 flex-1">
                    <h1><%= pizza.items.name %></h1>
                    <span><%= pizza.items.size %></span>
                </div>
                <span class="flex-1"><%= pizza.qty %> Pcs</span>
                <span class="font-bold text-lg">  <%=pizza.qty%> x ₹<%= pizza.items.price%> = ₹<%= pizza.items.price * pizza.qty%> </span>
            </div>
            <% } %>

        </div>
        <hr>
        <div class="py-4 text-right">
            <div >
                <span class="text-lg font-bold">Total Amount:</span>
                <span class="amount text-2xl font-bold">₹ <%= session.cart.totalPrice %></span>
            </div>
            <div>
                <form class="mt-12" action="">
                    <input class="border border-gray-400 p-2 w-1/2" type="text" placeholder="Phone No.">
                    <input class="border border-gray-400 p-2 w-1/2 mt-4" type="text" placeholder="Address">
                    <br>
                    <button class="btn-primary py-2 px-6 rounded-full text-white mt-4">Order Now</button>
                </form>
            </div>
            <a class="inline-block cursor-pointer btn-primary py-2 px-6 rounded-full text-white mt-4" href="">Login to continue!</a>
        </div>
    </div>
    <% } else { %>

    <div class="empty-cart py-16">
        <div class="container mx-auto text-center">
            <h1 class="text-3xl mb-2 font-bold">Cart Empty 😕</h1>
            <p class="text-lg text-gray-500 mb-12 mt-4">
                You probably haven't ordered a pizza yet. <br>
                To order a pizza, go to main page.
            </p>
            <img class="w-2/5 mx-auto" src="/img/empty-cart.png" alt="">
            <button class="py-2 px-6 rounded-full btn-primary text-white mt-12 font-bold"><a href="/">Go back</a></button>
        </div>
    </div>
    <% } %>
</section>